// app global css in Sass form
@import 'src/css/colors.sass';
@import 'src/css/fonts.sass';
@import 'src/css/animations.sass';

.q-page-container
    padding-top: 0 !important
.q-header
    background-color: rgba(254,229,211, 0)
    background-image: $light-gradient
    .q-tab
        //font-weight: 100
        font-family: $serif
        letter-spacing: 2px
        color: $light-grey


.hero 
    background-image: url(../assets/hero-bg.jpg)
    background-repeat: none
    background-color:rgba(255,200,255, 0.5)
    animation: color-fade 3s ease 0.5s 1 forwards
    h2, span
        font-family: $serif
        font-size: 1.6em
    .logo
        opacity: 0
        animation: fadein 5s ease 1s 1 forwards
    .q-parallax__media img
        opacity: 0.2
.main-section
    height: 90vh
    border-bottom: 1px solid rgba(0,0,0,0.05)

    .service-list li
        width: 50%
        display: inline-block
h2
    font-family: $serif

