
$primary-dark: #cc7867;
$primary-light: #fee5d3;
$primary-gradient: linear-gradient(90deg, $primary-light, $primary-dark);

$dark-grey: #151a1c;
$light-grey: #2e3132;
$dark-gradient: radial-gradient(ellipse at top, $light-grey, $dark-grey);